<div class="dashboard">
    <div class="header-nav">
      <ul class= "menu">
        <li>
          <a href="/myprofile" class="header">Welcome, {{username}}</a>
        </li>
        <li class="search">
            <form id="searchForm" class="searchForm" method="get">
                <label for="search">Search Post:</label>
                <input type="text" id= "search">
                <button type="submit">search</button>
            </form>
        </li>

        <li class="logout-li">
            <a  href="/logout">Logout</a>
        </li>
      </ul>
    </div>

   <div class="nav">
     <div class="navList">
       <p></p>
        <p>
            <a href="/dashboard" style="color: black;text-decoration: none;font-size: 20px;">Dashboard</a>
        </p>
        <p>
            <a href="/myprofile" style="color: black;text-decoration: none; font-size: 20px;">My Profile</a>
        </p>
      </div>
  </div>

 <div class="createPost">
    <h2>Create a Post</h2>
  <div class="createpostForm">  
      <form id="createpostForm" action="/posts" method="POST">
        <input type="text" id="title" name="title" placeholder="Title" class ="create-post-input"><br>
        <textarea type="text" id="body" name="body" placeholder="Description" class="create-post-body"></textarea><br>
        <textarea type="text" id="tags" name="tags" placeholder="Tags" class ="create-post-tag" ></textarea><br>
        <button type="submit" class="post-button">post</button>
      </form>
  </div>
    {{#if error}}
      <div id="createPost-error" class="error">
          <h3>{{error_message}}</h3>
      </div>
    {{/if}}
  </div>

  <div class="private">
   <h2>All Posts</h2>

          {{#if posts.length}}
          {{#each posts}}
              <div class="card">
                  <div class="innercard">
                      <div class="poststitle-div">
                            <label class="postsTitle">{{title}}</label>
                      </div>
                      <div class="postsdate-div">
                            <label class="postsdate">by {{username}} on {{date}}</label>
                      </div>
                            <p>{{body}}</p> 
                            <label>Tag:</label>
                            {{#if tags.length}}
                            {{#each tags}}
                            <label class="taglable">{{this}}</label>
                            {{/each}}
                            {{/if}}
                      <div class="commentsCard">
                            <br>
                            <label class="comments">Comments</label>
                            <br>
                        {{#if comments.length}}
                        {{#each comments}}
                            <label>{{userName}}:</label>
                            <textarea>{{body}}</textarea>
                            <a href="#" class="resolve">mark as resolve</a>
                        {{/each}}
                        {{/if}}
                        <br>
                        <label class="reply">Reply:</label>
                        <textarea class="createComment"></textarea>
                        <button type="submit">Submit</button>
                      </div>
                  </div>
              </div>
          {{/each}}
          {{/if}}

  </div>

</div>

