<div class="dashboard">
    <div class="header-nav">
      <ul class= "menu">
        <li class="header">
          <a href="/myprofile" class="header">Welcome {{username}}</a>
        </li>
        <li class="search">
            <form id="searchForm" class="searchForm">
                {{!-- <label for="search">Search Post:</label> --}}
                <input type="text" id= "searchTerm" placeholder="search posts" class ="search-input">
                <button type="submit" class="search-button">search</button>
            </form>
        </li>
        <li class="logout-li">
            <a  href="/logout">Logout</a>
        </li>
      </ul>
    </div>

   <div class="nav">
     <div class="navList">
       {{!-- <p></p> --}}
        <p>
            <a href="/dashBoard" style="color: black;text-decoration: none;font-size: 20px;">Dashboard</a>
        </p>
        <p>
            <a href="/myprofile" style="color: black;text-decoration: none; font-size: 20px;">My Profile</a>
        {{!-- </p> --}}
      </div>
  </div>

 <div class="createPost">
    <h2>Create a Post</h2>
  <div class="createpostForm">  
      <form id="createpostForm" action="/posts" method="POST" enctype="multipart/form-data">
        <input type="text" id="title" name="title" placeholder="Title" class ="create-post-input"><br>
        <span hidden id="errorCreatePost"></span>
        <br>
        <textarea type="text" id="body" name="body" placeholder="Description" class="create-post-body"></textarea><br>
        <span hidden id="error_body"></span>
        <br>      
        <textarea type="text" id="tags" name="tags" placeholder="Tags" class ="create-post-tag" ></textarea><br>
        <input type="file" name="image">
        <button type="submit" class="post-button" id="createPostBtn">post</button>
      </form>
  </div>
    {{#if error}}
      <div id="createPost-error" class="error">
          <h3>{{error_message}}</h3>
      </div>
    {{/if}}
  </div>

  <div class="private">
          {{#if posts.length}}
          {{#each posts}}
              <div class="card">
                  <div class="innercard">
                      <h4 class="poststitle-div">{{title}}</h4>
                      <p class="postsdate-div">by {{username}} on {{date}}</p>
                            <p class="post-body">{{body}}</p> 
                            <label class="tags">tags:</label>
                            {{#if tags.length}}
                            {{#each tags}}
                            <label class="taglable">{{this}}</label>
                            {{/each}}
                            {{/if}}
                            
                      <div class="commentsCard">
                      <label class="comments">comments:</label>
                      <br>
                        {{#if comments.length}}
                        {{#each comments}}
                            <label class="commentsDate">by {{userName}} on {{date}}:</label>
                            {{#if answer}}
                              <p class="commentresolve">{{body}}</p>
                              {{else}}
                              <p class="commentNotresolve">{{body}}</p>
                            {{/if}}
                            <form  action="/comments/{{_id}}?_method=DELETE" method="POST">
                              <button type="submit" class="deleteComment">delete</button>
                            </form>
                            
                        {{/each}}
                        {{/if}}
                        <br>  
                        <form id="createComment" action="/comments/{{_id}}" method="POST">
                          <textarea type="text" id="comment" name="comment" placeholder="reply here" class="createComment"></textarea><br>
                          <button type="submit" class="commentbtn">comment</button>
                        </form>
                        
                      </div>
                  </div>
              </div>
          {{/each}}
          {{/if}}

  </div>

  <div class="search-result">
    <div id="searchTitle" hidden>
      <h2 >Search Result</h2>
    </div>
      <div id="errorInput" hidden><p>Please input a valid word.</p></div>
      <div id="noResult" hidden><p>Sorry, no results were found.</p></div>

      <div id="searchPostsList" class="searchCard" hidden>

      </div>
  </div>

</div>

