<div class="dashboard">
    <div class="header-nav">
      <ul class= "menu">
        <li class="title">
          <a href="/" class="header">College Issue Reporting system</a>
        </li>
        <li class="search">
            <form id="searchForm" >
                <input type="text" id= "searchTerm" placeholder="search posts" class ="search-input">
                <button type="submit" class="search-button">search</button>
            </form>
        </li>
        <li>
        <div id="errorInput" class="errorInput" hidden><p>Please input a valid word.</p></div>
        </li>
        <li class="username">
          Welcome {{username}}
        </li >  
        <li class="logout-li"><a href="/logout">Logout</a>
        </li> 
      </ul>
    </div>

   <div class="nav">
     <div class="navList">
        <p class="nav-dash">
            <a href="/dashBoard" style="color: black;text-decoration: none;font-size: 20px;">Dashboard</a>
        </p>
        <p class="nav-dash">
            <a href="/myprofile" style="color: black;text-decoration: none; font-size: 20px;">My Profile</a>
        
      </div>
  </div>

 <div class="createPost">
    <h2>Create a Post</h2>
  <div class="createpostForm">  
      <form id="createpostForm" action="/posts" method="POST" enctype="multipart/form-data">
        <input type="text" id="title" name="title" placeholder="Title" class ="create-post-input"><br>
        <span hidden id="errorCreatePost"></span>
        <br>
        <textarea type="text" id="body" name="body" placeholder="Description" class="create-post-body"></textarea><br>
        <span hidden id="error_body"></span>
        <br>
        {{!-- <textarea type="text" id="priority" name="priority" placeholder="Priority" class="create-post-priority"></textarea><br>
        <span hidden id="error_priority"></span>
        <br>         --}}
        <textarea type="text" id="tags" name="tags" placeholder="Tags" class ="create-post-tag" ></textarea><br>

          <label class="priority" for="priority">Priority:</label>
                    <select name="priority" id="priority">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        </select><br>
                        <br>
        <input type="file" name="image">
        <button type="submit">post</button>
        {{!-- <button type="submit" class="post-button" id="createPostBtn">post</button> --}}
      </form>
  </div>
    {{#if error}}
      <div id="createPost-error" class="error">
          <h3>{{error}}</h3>
      </div>
    {{/if}}
  </div>

  <div class="private" id="private">
          {{#if posts.length}}
          {{#each posts}}
              <div class="card" id="card">
                  <div class="innercard" id="innercard">
                      <h4 class="poststitle-div">{{title}}</h4>
                      <p class="postsdate-div">by {{username}} on {{date}}</p>
                            <p class="post-body">{{body}}</p> 
                            <p class="post-priority">Priority: {{priority}}</p>
                            {{#if image}}
                            <img src={{image}} class="post-image" width="430" height="400" >
                            {{/if}}
                            <br>
                            <label class="tags">tags:</label>
                            {{#if tags.length}}
                            {{#each tags}}
                            <label class="taglable">{{this}}</label>
                            {{/each}}
                            {{/if}}
                            
                      <div class="commentsCard">
                      <label class="comments">comments:</label>
                      <br>
                        {{#if comments.length}}
                        {{#each comments}}
                            <label class="commentsDate">by {{userName}} on {{date}}:</label>
                            {{#if answer}}
                              <p class="commentresolve">{{body}}</p>
                              {{else}}
                              <p class="commentNotresolve">{{body}}</p>
                            {{/if}}
                            <form  action="/comments/{{_id}}?_method=DELETE" method="POST">
                              <button type="submit" class="deleteComment">delete</button>
                            </form>
                            
                        {{/each}}
                        {{/if}}
                        <br>  
                        <form id="createComment" action="/comments/{{_id}}" method="POST">
                          <textarea type="text" id="comment" name="comment" placeholder="reply here" class="createComment"></textarea><br>
                           <span hidden id="errorcommentPost"></span>
                          <button type="submit" class="commentbtn"id ="commentPostBtn">comment</button>
                        </form>
                        
                      </div>
                  </div>
              </div>
          {{/each}}
          {{/if}}

  </div>

  <div class="search-result">
    <div id="searchTitle" hidden>
      <h2 >Search Result</h2>
    </div>
    <div>
      <div id="searchPostsList" class="searchCard" hidden>
      </div>
      </div>
      <div id="noResult"  class="noResult" hidden><p>Sorry, no results were found.</p></div>
  </div>

<script src="/public/js/dashboard.js"></script>
 <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
</div>

