<div class="myprofile">


    <div class="header-nav">
      <ul class= "menu">
        <li>
          <a href="/myprofile" class="header">Welcome, {{username}}</a>
        </li>
        <li class="search">
            <form id="searchForm" class="searchForm" method="get">
                {{!-- <label for="search">Search Post:</label> --}}
                 <input type="text" id= "searchTerm" placeholder="search posts" class ="search-input">
                <button type="submit" class="search-button">search</button>
            </form>
        </li>
        <li>
        <div id="errorInput" class="errorInput" hidden><p>Please input a valid word.</p></div>
        </li>
        <li class="logout-li">
            <a  href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="nav">
     <div class="navList">
       <p></p>
        <p>
            <a href="/dashboard" style="color: black;text-decoration: none;font-size: 20px;">Dashboard</a>
        </p>
        <p>
            <a href="/myprofile" style="color: black;text-decoration: none; font-size: 20px;">My Profile</a>
        </p>
      </div>
    </div>

        <div class="private" id="private">
            {{!-- <h2>My Posts</h2> --}}
             {{#if myPosts.length}}
          {{#each myPosts}}
              <div class="card" id="card">
                  <div class="innercard" id="innercard">
                      <h4 class="poststitle-div">{{title}}</h4>
                      <label class="postsdate-div">by {{username}} on {{date}}</label>
                            <p>{{body}}</p> 
                            <p>tags:</p>
                            {{#if tags.length}}
                            {{#each tags}}
                            <label class="taglable">{{this}}</label>
                            {{/each}}
                            {{/if}}
                            <br>
                            <div class="operatePost"> 
                            <form method="get" action="http://localhost:3000/editPost">
                            <button type="submit" name="editPostbtn" id="editPostbtn" value={{this._id}}>Edit</button>

                            </form>
                            <form  action="/posts/delete/{{_id}}?_method=DELETE" method="POST">
                              <button type="submit" id="deletePostbtn">delete post</button>
                            </form>  
                            </div>
                      <div class="commentsCard">
                            <br>
                            <label class="comments">Comments</label>
                            <br>
                        {{#if comments.length}}
                        {{#each comments}}
                            <label>{{userName}}</label>
                            {{#if answer}}
                              <p class="commentresolve">{{body}}</p>
                              {{else}}
                              <p >{{body}}</p>
                            {{/if}}

                            <form  action="/comments/resolve/{{_id}}?_method=PATCH" method="POST">
                              <button type="submit">mark as resolve</button>
                            </form>
                        {{/each}}
                        {{/if}}
                        <br>  
                        <form id="createComment" action="/comments/{{_id}}" method="POST">
                          {{!-- <p>{{_id}}</p> --}}
                          <textarea type="text" id="comment" name="comment" placeholder="reply here" class="createComment"></textarea><br>

                          <span hidden id="errorcommentPost"></span>
                          <button type="submit" class="commentbtn"id ="commentPostBtn">comment</button>
                        </form>
                      </div>
                  </div>
              </div>
          {{/each}}
          {{/if}}

        </div>

       <div class="search-result">
          <div id="searchTitle" hidden>
            <h2 >Search Result</h2>
          </div>
              <div id="searchPostsList" class="searchCard" hidden>
              </div>
              <div id="noResult"  class="noResult" hidden><p>Sorry, no results were found.</p></div>
      </div>

        <div class="myprofile-card">
          <h4 class="myprofile-title">My profile</h4>
              
          <div class="myprofile-innercard">
              {{#if photo}}
                <img src={{photo}} class ="img-upload" width="100" height="100">
              {{/if}}
            <form method="POST" class="profile-input"  action="/photo/upload" enctype="multipart/form-data">
              <input type="file" name="image">
              <button class="profile-button" type="submit">edit photo</button>
            </form>
            <br>
                <p class="myprofile" for="usernameText">{{username}}</p>
                <p class="myprofile" for="firstnameText">{{firstname}}</p>
                <p class="myprofile1" for="lastnameText">{{lastname}}</p>
                <p class="myprofile" for="emialText">{{email}}</p>
                <p class="myprofile" for="majorText">{{major}}</p>
                <p class="myprofile" for="yearText">{{year}}</p>
                <p class="myprofile" for="BioText">{{bio}}</p>
                
            <form id="editPost" method="post" name="postForm" action="/editProfile"></form>    
                <button type="submit" id="editProfilebtn" name="editProfilebtn" class="editProfilebtn">Edit </button>
            </form>
            </div>
        </div>
</div>