<div>
        <div class="myprofile">
            <h2>My profile</h2>
            <form id="editPost" method="post" name="postForm">
                <label class="photo" for="photo">photo:</label><br>
                <img src="" alt="{{user.username}}"/><br>
                <label class="username" for="usernameText">username:</label>{{user.username}}<br>
                <label class="firstname" for="firstnameText">firstname:</label>{{user.firstname}}<br>
                <label class="lastname" for="lastnameText">lastname:</label>{{user.lastname}}<br>
                <label class="email" for="emialText">email:</label>{{user.email}}<br>
                <label class="major" for="majorText">major:</label>{{user.major}}<br>
                <label class="year" for="yearText">year:</label>{{user.year}}<br>
                <label class="Bio" for="BioText">Bio:</label>{{user.bio}}<br>
                <button type="submit" id="editProfilebtn" name="editProfilebtn">Edit Myprofile</button>
            </form>
        </div>
</div>

<div class="private">
  <h1>Welcome, {{username}}</h1> 
   <h2>All Posts</h2>
    {{#if myPosts.length}}
    {{#each myPosts}}
    <div class="card">
        <h4>{{title}}</h4>
        <h5>{{username}}</h5>
        <p>{{body}}</p> 
        {{#if comments.length}}
        {{#each comments}}
        <p>{{userName}}</p>
        <p>{{body}}</p>
        {{/each}}
        {{/if}}
    </div>
    {{/each}}
    {{/if}}
  <a href="/logout">Logout</a>
</div>
